fastapi==0.115.14
uvicorn[standard]==0.35.0
redis>=4.5.4
pyAudioAnalysis
librosa
soundfile
praat-parselmouth
numpy
scipy
speechbrain
transformers
pydantic==2.11.7
python-dotenv
pytest
httpx
# ffmpeg-python   # Sadece gerekiyorsa
# tqdm            # Opsiyonel
